
@media (max-width: 480px) {
    td {display:block;}
    .about-selfie-img
    .about-gallery-img
    {width: 100%; height: 100px;}
}
@media (min-width: 481px) {
    .about-selfie-img {width: 150px; height: 125px; display: inline-block; padding: 20px 50px 0 0;}
    .about-gallery-img {width: 25%; max-height: 200px; display: inline; padding: 5px;}
}
@media (max-width: 832px) {
    #about-nav a {
        width: 40% !important;
    }
}

#header {
    display: none;
}
.about-header {
    text-align: center;
}
#about-nav {
    display: block; 
    width: 100%; 
    text-align: center;
}
#about-nav a {
     display: inline-block;
     height: 30px;
     line-height: 30px;
     width: 24%;
     min-width: 150px;
     background: #14546d;
     margin: 2px;
     color: white;
     text-align: center;
     border-radius: 3px;
  }
.about-icon {
    max-width: 30px;
    max-height: 30px;
}
.about-nav-back {
    display: inline-block;
    float: right;
}

/*CSS for the slider*/

.select-pubs .switch {
    position: relative;
    display: inline-block;
    width: 2.8em;
    height: 1.2em;
  }
  
.select-pubs .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.select-pubs .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.select-pubs .slider:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    left: 0.1em;
    bottom: 0.1em;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.select-pubs  input:checked + .slider {
    background-color: #1d6d9e;
  }
  
.select-pubs input:focus + .slider {
    box-shadow: 0 0 1px #1d6d9e;
  }
  
.select-pubs input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
.select-pubs .slider.round {
    border-radius: 1em;
  }
  
.select-pubs .slider.round:before {
    border-radius: 50%;
  }
/*End: CSS for the slider*/

.article-entry {
    color: #000;
}
.article-entry td .logo {
    text-align: center;
}
.big-icon {
    font-size: 2rem;
}
.network-icons {
    padding-top: 1em;
}
.publication .pubitem {
    margin-top: 1em; 
    font-size:smaller;
}
